.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  margin-bottom: 20px;
}

.button {
  width: 100%;
  padding: 15px 0;
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  font-family: 'Open Sans', sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.warning {
  font-size: 15px;
  text-align: center;
}
