.main {
  display: grid;
  grid-template-columns: 232px 1fr;
  column-gap: 20px;
  align-items: start;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media (max-width: 740px) {
  .main {
    grid-template-columns: 1fr;
  }

  .content {
    margin-top: 20px;
  }
}
