.aside {
  padding: 20px 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #9abbce;
  border-radius: 2px;
  cursor: pointer;

  position: relative;
}

.checkbox:checked:before {
  content: url(../assets/check.svg);
  position: absolute;
  top: 1px;
  left: 3px;
}

.label {
  width: 100%;
  padding: 10px 0 10px 20px;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
  column-gap: 10px;
}

.label:hover {
  background-color: #f1fcff;
}
