.button {
  padding: 15px 0;
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  font-family: 'Open Sans', sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
}
