.list {
  width: 100%;
  background-color: white;
  border: 1px solid #dfe5ec;
  border-radius: 5px;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item:not(:last-child) {
  border-right: 1px solid #dfe5ec;
}

.button {
  width: 100%;
  padding: 15px;
  background-color: transparent;
  color: inherit;
  border: none;

  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: #2196f3;
  color: white;
}

.active {
  background-color: #2196f3;
  color: white;
}

@media (max-width: 484px) {
  .list {
    display: grid;
    grid-template-columns: 1fr;
  }
}
