@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: #f3f7fa;
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
}
